*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-image: url("images/contact.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #e40d0d;
    font-size: 35px;
    font-family: Arial;
    padding-left: 40px;
    float: left;
    padding-top: 10px;
    
}

.pera{
    color: #a09b9b;
    font-size: 10px;
    font-family: Cambria;
    padding-left: 40px;
    float: left;
    padding-top:none;
}
.menu{
    width:400px;
    float:left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 60px;
    margin-top: 25px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: rgb(232, 213, 126);
    font-family: Arial;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}
ul li a:hover{
    color: rgb(4, 4, 244);
}
.search{
    width: 330px;
    height: 20px;
    float: right;
    margin-left: 270px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 30px;
    background: transparent;
    border: 2px solid rgb(84, 15, 15);
    margin-top: 15px;
    color: rgb(245, 238, 238);
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 80px;
    height: 30px;
    background: #961010;
    border: 2px solid rgb(14, 3, 3);;
    margin-top: 15px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}